composer.lock
/vendor
/demo/bridge/*/vendor
/demo/bridge/doctrine/db.sqlite
/demo/profiles
/src/DebugBar/Resources/vendor
.phpunit.result.cache
/drivers
/chromedriver
.phpunit.cache/
/tests/screenshots
/node_modules
.DS_Store
.php-cs-fixer.cache
clover.xml
/docs/overrides/__pycache__/
/docs/assets/dist/
/site
/build/docs
debugbar.sqlite