parameters:
    level: 6
#    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - tests
    bootstrapFiles:
        - tests/phpstan-stubs.php
    strictRules:
        dynamicCallOnStaticMethod: false
        booleansInConditions: false
        disallowedShortTernary: false
        noVariableVariables: false
        strictArrayFilter: false
    shipmonkRules:
        enableAllRules: false
        enforceNativeReturnTypehint:
            enabled: true
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: cast.useless
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/shipmonk/phpstan-rules/rules.neon

