<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
>
  <testsuites>
    <testsuite name="Unit">
      <directory>./tests/Tests</directory>
      <exclude>./tests/Tests/Browser</exclude>
    </testsuite>
    <testsuite name="Browser">
      <directory>./tests/Tests/Browser</directory>
    </testsuite>
  </testsuites>
  <php>
    <server name="PANTHER_WEB_SERVER_DIR" value="./demo/"/>
    <server name="PANTHER_DEVTOOLS" value="0"/>
  </php>
  <source>
    <include>
      <directory>./src/</directory>
    </include>
  </source>
</phpunit>
